<!DOCTYPE html>
<html lang="en">
<head>
	<title>Data Collector</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Thank you!
				</span>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
							<button class="contact100-form-btn">
								<span>
								Your response is appreciated
							  </span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
